* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

font-face {
    font-family: kamerik-3d;
    src: url(../fonts/kamerik205-heavy.woff2);
    font-weight: 900;
}

@font-face {
    font-family: merriweather-italic-3d;
    src: url(../fonts/merriweather-regular-italic.woff2);
}


@font-face {
    font-family: unica;
    src: url(../fonts/UnicaOne-Regular.ttf);
    font-weight: 500;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgray;
    color: #000;
}

.header {
    width: 100%;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.6s ease, backdrop-filter 0.6s ease;
    background-color: transparent;
    backdrop-filter: blur(0px);
}

.header.scrolled {
    background-color: rgba(129, 129, 129, 0.55);
    backdrop-filter: blur(8px);
}

.header__inner {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 80px;
    width: auto;
    display: block
}

main {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
  margin-top: 60px;
}

.dashboard {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.menu-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 15px;
  z-index: 1001;
}

.menu-toggle img {
  width: 50px;
  height: auto;
  transition:transform 0.4s ease;
}

.menu-toggle.rotated img {
  transform: rotate(45deg);
}

.dropdown-menu {
  position: absolute;
  top: 110px;
  right: 10px;
  display: none;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.dropdown-menu a {
  text-decoration: none;
  font-weight: 600;
  color: #000;
  margin-bottom: 12px;
  font-size: 20px;
  transition: color 0.3s ease;
  font-family: unica, sans-serif;
}

.dropdown-menu a:hover {
  color: #fc96a5;
}

.logout-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.logout-btn:hover {
  background-color: #555;
}
